body {
   
}

.main {
    height: 100%;
    background-image: url("images/2-living-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo {
    width: 300px;
}

.main-jumbotron {
    background-color: transparent;
}
.main-text {
    /*background-color: rgba(62, 57, 53, 0.4);*/
    background-color: rgba(255, 255, 255, .85);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
 
}

.apply-button {
    background-color: #A80504;
    border: 1px solid #A80504;
    padding: 15px;
}

.apply-button:hover {
    background-color: #465e73;
    border: 1px solid #465e73;
}

hr.divider {
    background: #A80504;
}

.hours-divide {
    color: #A80504;
    font-size: 16pt;
}

h2 {
    color: #A80504;
    margin: 30px 0 20px 0;
}

h3 {
    color: gray;
}

.come-see {
    height: 400px;
    background-image: url("images/860-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h5 {
    font-size: 18pt;
}

.gallery-row {
    background-image: url("images/cross_scratches.png");
}

.gallery-card {
    background: transparent;
}

.features-row {
    background-image: url("images/13-master.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#features-card {
    background-color: rgba(255, 255, 255, .85);
}

.features-card-item {
    background: transparent;
}

.features-card-item button {
    background-color: #A80504;
    border: 1px solid #A80504;
}

.features-card-item button:hover {
    background-color: #465e73;
}

#floor-plan-image {
    width: 125px;
}

#gallery-image {
    width: 275px;
    margin-top: 5px;
}

footer {
    padding-right: 15px;
    padding-left: 15px;
}

footer img {
    margin-bottom: 10px;
}

footer a {
    margin-top: 20px;
}
